.main-screen__bike-name {
  margin: 167px auto 209px 0;
  font-size: 18px;
  line-height: 18px;
  max-width: 356px;
  width: 100%;
  text-align: left;
  background-image: url(../images/Color-BG.svg);
  background-position: right center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1210.98px) {
  .main-screen__bike-name {
    margin: 90px auto 150px 0;
  }
}

@media screen and (max-width: 1040.98px) {
  .main-screen__bike-name {
    margin: 80px auto 130px 0;
  }
}

@media screen and (max-width: 780.98px) {
  .main-screen__bike-name {
    display: none;
  }
}
