.highway {
  padding: 60px 0 60px 120px;
  margin: $center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 1440px;
  box-sizing: border-box;
}

@media screen and (max-width: 1210.98px) {
  .highway {
    padding: 40px 0 40px 40px;
  }
}

@media screen and (max-width: 1040.98px) {
  .highway {
    padding: 30px 0 30px 30px;
  }
}

@media screen and (max-width: 780.98px) {
  .highway {
    padding: 80px 18px 40px;
    background-image: url(../images/line.svg);
    background-position: center top 40px;
    background-size: auto;
    background-repeat: no-repeat;
    align-items: flex-start;
  }
}
