.main-screen__text-container {
  margin: 80px 30px 0 0;
  max-width: 460px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1040.98px) {
  .main-screen__text-container {
    margin: 40px 30px 0;
    max-width: 400px;
  }
}

@media screen and (max-width: 780.98px) {
  .main-screen__text-container {
    margin: 0 auto;
  }
}
