.highway__title {
  margin: 0;
  font-weight: bold;
  font-size: 55px;
  line-height: 60px;
}

@media screen and (max-width: 1040.98px) {
  .highway__title {
    font-size: 42px;
    line-height: 50px;
  }
}

@media screen and (max-width: 780.98px) {
  .highway__title {
    font-size: 32px;
    line-height: 40px;
  }
}
