.highway__picture-annotation {
  width: 100px;
  height: 40px;
  position: absolute;
  left: 0;
  bottom: 16px;
  background-image: url(../images/highway-annotacion.png);
  background-repeat: no-repeat;
  object-fit: none;
}
