.highway__button-container_screen_mobile {
  margin: 0 auto;
  max-width: 100%;
  align-items: center;
}

@media screen and (max-width: 780.98px) {
  .highway__button-container_screen_mobile {
    display: flex;
  }
}
