.highway__picture-container {
  display: flex;
  margin: $center;
  overflow: hidden;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 780.98px) {
  .highway__picture-container {
    order: 1;
    margin: 40px auto 0;
  }
}
