.header__link {
  margin: 0;
  text-decoration: none;
  color: $titleColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  transition: opacity 0.4s linear;

  &:hover {
    opacity: 0.75;
  }
}
