.popup__container {
  margin: $center;
  width: 100%;
  padding: 144px 55px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #F4F4F4;
  max-height: 640px;
}
