.bicycles__container {
  margin: $center;
  background: #F4F4F4;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 780.98px) {
  .bicycles__container {
    box-shadow: none;
    scroll-snap-align: center;
  }
}
