.eddie-mercs {
  padding: 120px 120px 60px;
  margin: $center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
}

@media screen and (max-width: 1210.98px) {
  .eddie-mercs {
    padding: 90px 40px 40px;
  }
}

@media screen and (max-width: 1040.98px) {
  .eddie-mercs {
    padding: 60px 30px 30px;
  }
}

@media screen and (max-width: 780.98px) {
  .eddie-mercs {
    flex-direction: column;
    padding: 60px 18px 40px;
    background-image: url(../images/line.svg);
    background-position: center top 40px;
    background-size: auto;
    background-repeat: no-repeat;
  }
}
