.main-screen__bike-transform {
  max-width: 810px;
  width: 100%;
  padding: 20px 0 79px 0;
  background-image: url(../images/main-screen-forest.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 610px 836px;
}

@media screen and (max-width: 1210.98px) {
  .main-screen__bike-transform {
    background-size: 500px 720px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1040.98px) {
  .main-screen__bike-transform {
    background-size: 400px 600px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 780.98px) {
  .main-screen__bike-transform {
    display: none;
  }
}

