.bicycles__text-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: $center;
  align-items: flex-end;
}

@media screen and (max-width: 780.98px) {
  .bicycles__text-container {
    flex-direction: column;
    justify-content: start;
  }
}
