.main-screen__bike-image {
  max-width: 340px;
  max-height: 260px;
  object-fit: cover;
}

@media screen and (max-width: 1040.98px) {
  .main-screen__bike-image {
    max-width: 300px;
    max-height: 240px;
  }
}

@media screen and (max-width: 780.98px) {
  .main-screen__bike-image {
    max-width: 180px;
  }
}
